imageio-ffmpeg
matplotlib
numpy 
opencv-python
pandas
Pillow
PyYAML
scikit-image
scikit-learn
scikit-video
scipy
six
scikit-learn
torch
torchvision
tqdm
wandb
av
compressai
psnr_hvsm
psnr_hvsm[torch]
piq
lpips

